body { 
    background-color: #eee;
    line-height: 200% ;
}

h1, h2, h4  { 
    font-family: 'Times New Roman';
    font-weight: 600;
    color: teal;
}

/* Bootstrap overrides */
.navbar {
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.navbar-brand{
    background-color: teal; 
    color: white;   
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.navbar-brand:visited,.navbar-brand:active, .navbar-brand:link  {
    background-color: teal; 
    color: white;   
}

/* My own */

.contain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "visualizations"
}


.left-box{
    grid-area: "summary";
    padding: 10px 0px 10px 30px ; 
}

.right-box{
    grid-area: "visualizations";
    padding: 10px 30px 10px 30px;
}

.box { 
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .summary {
    margin: 10px 10px 10px 30px ;    
}

.visualizations { 
    margin:     
} */

/* .visualizations > img { 
    margin: 5px;
    width: 150px;
    height: 150px;
} */

.content{
    min-height: 300px;
}
.content > img { 
    float: left;
}

/* In order to adjust website to different screen sizes */

/* @media (max-width: 800px) {
    
    .contain {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:    "summary"
        "visualizations"
        
    }

    .left-box{
        padding-right: 30px; 
    }
}


@media (max-width: 1200px){
    .visualizations > img { 
        margin: 5px;
        width: 250px;
        
    }
}

 */
